body{
  background-color: #d9d9d9;
  margin: 0px 0px auto;
}

nav{
  background-color:  #b3b3b3;
}

#nav-header{
  
  height: 125px;
  border-radius: 0px ;
  border-top: 0px;
  width: 100%;
}

#nav-header h1{
  color: black;
  text-align: center;
   font-family: 'Dosis', sans-serif;
   font-size: 30px;
}
#top{
  margin: 0px 0px auto;
}

#otherTop{
  margin: 10px;
}
